<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand"
      ui-sref="app.recipe"
      ng-bind="::$ctrl.appName | lowercase">
    </a>

    <div id="mobileMenu" class="pull-xs-right hidden">
      <i class="ion-navicon-round"></i>
    </div>

    <!-- Show this for logged in users -->
    <ul id="navBar" class="nav navbar-nav pull-xs-right" show-authed="true">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.recipe">
          <i class="ion-clipboard"></i>
          &nbsp;Recipes
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.editor">
          <i class="ion-compose"></i>
          &nbsp;Add recipe
        </a>
      </li>

      <li role="presentation" class="dropdown nav-item">
        <a class="dropdown-toggle nav-link"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false">

          <i class="ion-ios-gear"></i>
          &nbsp;Settings <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li class="nav-item">
            <a class="nav-link"
              ui-sref-active="active"
              ui-sref="app.login"
              ng-click="$ctrl.logout()">
              <i class="ion-log-out"></i>
              &nbsp;Logout
            </a>
          </li>

        </ul>
      </li>
    </ul>

    <!-- Show when logged out -->
    <ul id="navBar" class="nav navbar-nav pull-xs-right" show-authed="false">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.register">
          <i class="ion-person-add"></i>
          &nbsp;Sign up
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.login">
          <i class="ion-log-in"></i>
          &nbsp;Login
        </a>
      </li>
    </ul>


  </div>
</nav>
