<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand"
      ui-sref="app.recipe"
      ng-bind="::$ctrl.appName | lowercase">
    </a>

    <div id="mobileMenu" class="pull-xs-right hidden">
      <i class="ion-navicon-round"></i>
    </div>

    <!-- Show this for logged in users -->
    <ul id="navBar" class="nav navbar-nav pull-xs-right" show-authed="true">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.recipe">
          <i class="ion-android-list"></i>
          &nbsp;Recipes
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.editor">
          <i class="ion-android-document"></i>
          &nbsp;Add recipe
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link special"
          ui-sref-active="active"
          ui-sref="app.login"
          ng-click="$ctrl.logout()">
          <i class="ion-android-exit"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>

    <!-- Show when logged out -->
    <ul id="navBar" class="nav navbar-nav pull-xs-right" show-authed="false">

      <li class="nav-item" ng-hide="$ctrl.state == 'register'">
        <a class="nav-link special"
          ui-sref="app.register">
          <i class="ion-person-add"></i>
        </a>
      </li>

      <li class="nav-item" ng-hide="$ctrl.state == 'login'">
        <a class="nav-link special"
          ui-sref="app.login">
          <i class="ion-android-exit"></i>
        </a>
      </li>
    </ul>


  </div>
</nav>
