<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="login-center">


        <form ng-submit="$ctrl.submitForm()" id="authentication">
          <fieldset ng-disabled="$ctrl.isSubmitting">
            <h1 class="text-center form-header" ng-bind="::$ctrl.title">Login</h1>
            <span class="error" ng-show="$ctrl.errors.email">Email {{$ctrl.errors.email}}</span>
            <span class="error" ng-show="$ctrl.errors['email or password']">Email or password {{$ctrl.errors['email or password']}}</span>
            <fieldset>
              <input
                type="text"
                placeholder="EMAIL"
                ng-model="$ctrl.formData.email" />
            </fieldset>

            <fieldset>
              <span class="error" ng-show="$ctrl.errors.password">Password {{$ctrl.errors.password}}</span>
              <input
                type="password"
                placeholder="PASSWORD"
                ng-model="$ctrl.formData.password" />
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right"
              type="submit" ng-bind="::$ctrl.title"></button>

          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
